Demo.HL7MessageParser.ServiceSimulator.Test/Connected Services/PatientSoapServiceReference/PatientSoapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14395/PatientSoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" />
  <xs:element name="searchHKPMIPatientByCaseNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caseNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchHKPMIPatientByCaseNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" minOccurs="0" name="searchHKPMIPatientByCaseNoResult" nillable="true" type="q1:SearchHKPMIPatientByCaseNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>