Demo.HL7MessageParser.ServiceSimulator.Test/Connected Services/PatientSoapServiceReference/PatientSoapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchHKPMIPatientByCaseNoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ns2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDemoEnquiryResult" nillable="true" type="tns:PatientDemoEnquiryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchHKPMIPatientByCaseNoResponse" nillable="true" type="tns:SearchHKPMIPatientByCaseNoResponse" />
  <xs:complexType name="PatientDemoEnquiryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseList" nillable="true" type="tns:CaseList" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDemoEnquiryResult" nillable="true" type="tns:PatientDemoEnquiryResult" />
  <xs:complexType name="CaseList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Case" nillable="true" type="tns:Case" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseList" nillable="true" type="tns:CaseList" />
  <xs:complexType name="Case">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionDatetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BedNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WardClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WardCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Case" nillable="true" type="tns:Case" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CCCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChineseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfidentialFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExactDOBFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HKID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HkicSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPayCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullEnglishAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Record_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>