Demo.HL7MessageParser.ServiceSimulator.Test/Connected Services/MedicationProfileRESTServiceReference/MedicationProfileRESTService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo.HL7MessageParser.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicationProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedProfileId" type="xs:long" />
      <xs:element minOccurs="0" name="MedProfileMoItems" nillable="true" type="tns:ArrayOfMedProfileMoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicationProfile" nillable="true" type="tns:MedicationProfile" />
  <xs:complexType name="ArrayOfMedProfileMoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedProfileMoItem" nillable="true" type="tns:MedProfileMoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedProfileMoItem" nillable="true" type="tns:ArrayOfMedProfileMoItem" />
  <xs:complexType name="MedProfileMoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MedProfileMoItemId" type="xs:long" />
      <xs:element minOccurs="0" name="MedProfilePoItems" nillable="true" type="tns:ArrayOfMedProfilePoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedProfileMoItem" nillable="true" type="tns:MedProfileMoItem" />
  <xs:complexType name="ArrayOfMedProfilePoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedProfilePoItem" nillable="true" type="tns:MedProfilePoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedProfilePoItem" nillable="true" type="tns:ArrayOfMedProfilePoItem" />
  <xs:complexType name="MedProfilePoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedProfilePoItemId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedProfilePoItem" nillable="true" type="tns:MedProfilePoItem" />
</xs:schema>